<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{kiosk}}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>


  <script>

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var defaultName = "{{school}}";
    var ableToVote = false;

    function submitAjaxOnEnter(mode, event) {
      if (event.keyCode == 13 && mode == '_box') {
        // Ajax payload
        
        $.ajaxSetup({
          headers: {"X-CSRFToken": getCookie('csrftoken')}
        });

        $.ajax({
            type: "POST",
            url: location.href,
            data: {
              mode: "_box",
              return_value: $("#cardinput")[0].value,
              csrf_token: '{{csrf_token}}'
            }
          })
          .done(function (data) {
            // Success!
            $("#name").text("test");
            ableToVote = true;
          })
          .fail(function () {
            // Fail!
            $("#name").text("fail");
          })
          .always(function () {
            // At the end of every fail/okay
            // wipe the slate clean
            $("#cardinput").val('');
            $("#cardinput").focus();
          });
      } else if (event.type == 'click' && mode.startsWith('_poll_')) {
        if (ableToVote) {
          // Send some data
        } else {
          // Gotta sign in first!
        }
        ableToVote = false;
        $("#cardinput").focus();
      }

    }
  </script>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/favicon.ico">

</head>

<body class="code-snippets-visible">
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <section class="header" style="margin-top: 10vh; text-align: center;">
      <img src="{{school.school_image}}" />
      <h2 class="title">Hello <span id="name">{{school}}</span></h2>
      <div class="twelve columns">
        <input class="u-full-width" type="text" autofocus placeholder="Scan your ID or type your name" onkeydown="submitAjaxOnEnter('_box', event);"
          id="cardinput">
      </div>
    </section>
    <section class="header" style="text-align: center;">
      {% if poll_q %}
      <h3 class="title">Daily Poll: {{poll_q}}</h3>
      {% for i in poll_a %}
      <button class="btn btn-large" onclick="submitAjaxOnEnter('_poll_{{i}}', event);">{{i}}</button> 
      {% endfor %} 
      {% endif %}
    </section>
  </div>

  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

</body>
{% csrf_token %}
</html>