<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{kiosk}}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
    crossorigin="anonymous"></script>


  <script>

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var defaultName = " {{school}}, Please Sign in!";
    var lastPerson = "{{school}}"
    var ableToVote = false;
    

    function submitAjaxOnEnter(mode, event) {
      if (event.keyCode == 13 && mode == '_box') {
        // Ajax payload
        
        $.ajaxSetup({
          headers: {"X-CSRFToken": getCookie('csrftoken')}
        });

        $.ajax({
            type: "POST",
            url: location.href,
            data: {
              mode: "_box",
              return_value: $("#cardinput")[0].value,
              csrf_token: '{{csrf_token}}'
            }
          })
          .done(function (data) {
            // Success!
            lastPerson = data.student.fname;
            
            if (data.student.status_before_sign) {
              // Student logging out
              $("#name").text(' ' + lastPerson + ', Thanks for dropping by!');
            } else {
              // Student logging in
              $("#name").text(' ' + lastPerson + '!');
              ableToVote = true;
            }

            $('#instructions').effect('bounce');
            $('#poll').fadeTo('fast', 1);
            
            // Student hello only lasts for 2 seconds
            setTimeout(function() {
              $("#name").text(defaultName);
            }, 2000)

            // Students only have 10 seconds to vote
            // Otherwise just fade back
            setTimeout(function() {
              ableToVote = false;
              $('#poll').fadeTo('fast', 0.33);
            }, 10000)

          })
          .fail(function () {
            // Fail!
            $("#name").text(", Could you try that again?");
            $('#instructions').css('color', 'red');
            $('#instructions').effect('bounce');
            
            setTimeout(function() {
              $("#name").text(defaultName);
              $('#instructions').css('color', 'black');
            }, 2000)
          })
          .always(function () {
            // At the end of every fail/okay
            // wipe the slate clean
            $("#cardinput").val('');
            $("#cardinput").focus();
            $(".poll-option").removeClass('button-primary')
          });
      } else if (event.type == 'click' && mode.startsWith('_poll_')) {
        if (ableToVote) {
          $.ajaxSetup({
            headers: {"X-CSRFToken": getCookie('csrftoken')}
          });
          
          $('#poll').fadeTo('fast', 0.33);
          $.ajax({
            type: "POST",
            url: location.href + 'poll/',
            data: {
              mode: "_poll",
              return_value: mode.replace('_poll_', ''),
              csrf_token: '{{csrf_token}}'
            }
          })
          .done(function (data) {
            // Success!

          })
          .fail(function () {
            // Fail!
            
          })
          .always(function () {
            // At the end of every fail/okay
            // wipe the slate clean
            
          });
        } else {
          $('#instructions').effect('bounce');
        }
        ableToVote = false;
        $("#cardinput").focus();
      }
    }

    function highlightButton(button) {
      if (ableToVote) {
        $(button).addClass('button-primary');
        setTimeout(function() {
          $(button).removeClass('button-primary');
        }, 1000);
      }
    }
  </script>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/favicon.ico">

</head>

<body class="code-snippets-visible" onkeydown='$("#cardinput").focus();'>
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    {% if kiosk.active %}
      <section class="header" style="margin-top: 10vh; text-align: center;">
        <img src="{{school.school_image}}" />
        <h2 class="title" id="instructions">Hello<span id="name"> {{school}}, Please Sign in!</span></h2>
        <div class="twelve columns">
          <input class="u-full-width" type="text" autofocus onclick="$(this).focus()" placeholder="Scan your ID or type your name" onkeydown="submitAjaxOnEnter('_box', event);"
            id="cardinput">
        </div>
      </section>
    </div>
    <div class="container">
      <section class="header" id="poll" style="text-align: center;">
        {% if poll_q %}
        <h3 class="title">Daily Poll: {{poll_q}}</h3>
        {% for i in poll_a %}
        <button class="btn btn-large poll-option" onclick="highlightButton(this); submitAjaxOnEnter('_poll_{{i}}', event);">{{i}}</button> 
        {% endfor %} 
        {% endif %}
      </section>
    {% else %}
      <section class="header" style="margin-top: 10vh; text-align: center;">
        <img src="{{school.school_image}}" />
        <h2 class="title" id="instructions">This kiosk is currently disabled.</span></h2>
        <p>If you're the manager of this kiosk, please activate it via your dashboard.</p>
      </section>
    {% endif %}
  </div>

  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

</body>
<script>
  $('#poll').fadeTo( "fast", 0.33 );
  
    $.ajaxSetup({
      headers: {"X-CSRFToken": getCookie('csrftoken')}
    });
    setInterval(function() {
      $.ajax({
        type: "GET",
        url: location.href + 'ping/',
      }).done(function(data) {
        {% if kiosk.active %}
        if (!data.enabled)
        {% else %}
        if (data.enabled)
        {% endif %}
          location.reload();
        
      });
    }, 30000);
  
  
</script>
</html>