{% extends 'base/_admin_settings.html' %}
{% load rest_framework %}

{% block predocument %}
{% endblock %}

{% block school_active %} active{% endblock %}

{% block content %}
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#settings" id='settings-tab' onClick="updateUrl('settings');">Settings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#limits" id='limits-tab' onClick="updateUrl('limits');">Limits</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#payment" id='payment-tab' onClick="updateUrl('payment');">Payment</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade show active" id="settings">
    <h2>School Settings</h2>
    <form onSubmit="ajaxSubmit(event, this, 'PUT', '{% url 'baselabwatch:api:school-detail' pk=request.user.profile.school.pk %}');" id="settings-form">
      {% csrf_token %}
      {% render_form serializer %}
      <div class="row">
        <div class="col-12">
          Current Image: 
          <img id="school-image" src="{{request.user.profile.school.school_image}}" height="100px" />
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          {% if request.user.profile.school.primary_contact == request.user %}
            <button type="submit" class="btn btn-primary">Submit</button>
            <span class="form-status"></span>
          {% endif %}
        </div>
      </div>
    </form>
  </div>
  <div class="tab-pane fade" id="limits">
    <h2>Subscription Limits</h2>
    <div class="alert alert-info">
      We are currently in a free beta stage. All users of LabWatch have
      access to unlimited resources for free! Users will be notified of 
      pricing and limit changes. 
      It's worth noting {{request.user.profile.school.name}} currently
      tracks {{students}} students.
    </div>
  </div>
  <div class="tab-pane fade" id="payment">
    <h2>Payment Method</h2>
    <div class="alert alert-info">
      We are currently in a free beta stage. All users of LabWatch have
      access to unlimited resources for free! Users will be notified of 
      pricing and limit changes. Currently, LabWatch is planning
      on charging around $100 per year for services at the end of
      the free beta. This is subject to change.
    </div>
  </div>
</div>
{% endblock %}
