{% extends 'base/_admin_settings.html' %} 
{% load rest_framework %} 
{% load static %}

{% block students_active %} active{% endblock %} 

{% block content %}
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#create" id='create-tab' onClick="updateUrl('create');">Create Student</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#findedit" id='findedit-tab' onClick="updateUrl('findedit');">Find/Edit Student</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#upload" id='upload-tab' onClick="updateUrl('upload');">Upload Spreadsheet</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade show active" id="create">
    <h2>Create a Student</h2>
    <form onSubmit="ajaxSubmit(event, this, 'POST', '{% url 'baselabwatch:api:student-list' %}');">
      {% csrf_token %} 
      {% render_form serializer %}
      <div class="row">
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Create Student</button>
          <span class="form-status"></span>
        </div>
      </div>
    </form>
  </div>
  <div class="tab-pane fade" id="findedit">
    <h2>Find/Edit a Student</h2>
    <form class="row" onSubmit="findStudent(event, this);">
      <div class="col-10">
        <div class="form-group">
          <input type="text" name="search" class="form-control" placeholder="Find a student...">
        </div>
      </div>
      <div class="col-2">
        <button type="submit" class="btn btn-primary btn-block">Search</button>
      </div>
    </form>

    <div class="row">
      <div class="col-12">
        <table class="table">
          <thead>
            <tr>
              <th><i class="fa fa-id-card" aria-hidden="true"></i> Edit</th>
              <th>Student ID</th>
              <th>First Name</th>
              <th>Last Name</th>
            </tr>
          </thead>
          <tbody id="search-results">
            <!-- results -->
          </tbody>
        </table>
      </div>
    </div>

  </div>
  <div class="tab-pane fade" id="upload">
    <h2>Upload Spreadsheet
      <i class="fa fa-file-excel-o" aria-hidden="true"></i>
      <i class="fa fa-file-code-o" aria-hidden="true"></i>
    </h2>
    {% if request.GET.upload == 'true' %}
    <div class="row">
      <div class="col-12">
        <div class="alert alert-info">
          Spreadsheet Uploaded.
          {% if request.GET.new != '0' %}
          Created {{request.GET.new}} new students.
          {% endif %}
          {% if request.GET.dupes != '0' %}
          {% if request.GET.overwrite == 'True' %}Overwrote{% else %}Ignored{% endif %} {{request.GET.dupes}} existing students.
          {% endif %}
          {% if request.GET.fails != '0' %}
            Unable to read {{request.GET.fails}} students due to incomplete data and ignored them.
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
    
    <div>
      <form class="row" method="POST" enctype="multipart/form-data"> <!-- action='{% url "baselabwatch:student-upload" %}' -->
        {% csrf_token %}
        <div class="col-12">
          <div class="input-group">
            <label class="input-group-btn">
              <span class="btn btn-primary" style="height: 100%;">
                Browse&hellip; <input type="file" id="fileUploadInput" style="display: none;"
                onchange="formChanged(this);" name="spreadsheet"
                >
              </span>
            </label>
            <input type="text" id="fileUploadText" class="form-control" style="height:100%;" readonly>
          </div>
          <span class="help-block" id="instructions">
            Currently accepts XML (Microsoft Excel files coming soon!)<!--  and Microsoft Excel files -->.
          </span>
        </div>

        <!-- XML Upload -->
        <div id="xml-upload" class="col-12 hidden" style="margin-top: 2%; margin-bottom: 5%;">
          <p><strong>
            Open the XML file you're trying to upload in notepad. Inside, you should find
            something like the example. Fill out the form based on your XML file.
          </strong></p>
          <pre>
EXAMPLE DATA:
&lt;?xml version="1.0" encoding="UTF-8" ?&gt;
&lt;DestinyCustomReport&gt;
  &lt;Row&gt;
    &lt;dateAddedUpdated&gt;&lt;![CDATA[2017-09-13]]&gt;&lt;/dateAddedUpdated&gt;
    &lt;districtID&gt;&lt;![CDATA[1234567]]&gt;&lt;/districtID&gt;
    &lt;nameLast&gt;&lt;![CDATA[Pengra]]&gt;&lt;/nameLast&gt;
    &lt;nameFirst&gt;&lt;![CDATA[Norton]]&gt;&lt;/nameFirst&gt;
    &lt;gradeLevel&gt;&lt;![CDATA[09]]&gt;&lt;/gradeLevel&gt;
    &lt;homeroom&gt;&lt;![CDATA[StenslandT]]&gt;&lt;/homeroom&gt;
  &lt;/Row&gt;
  ...
          </pre>
          <div class="row">
            <div class="col-12">
              <label for="method">What do you want to do about duplicates?</label>
              <div class="form-group">
                <select class="form-control" name="dupe_action">
                  <option value="ignore">Ignore duplicate student</option>
                  <option value="overwrite">Overwrite existing student with upload</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-xs-12 col-lg-4">
              <label for="studentIDColumn">Enter the tag name containing student IDs</label>
              <input type="text" name="studentid" class="form-control" aria-describedby="studentIDhelp" value="districtID">
              <small id="studentIDhelp" class="form-text text-muted">In the example, it'd be "districtID" <strong>(required)</strong></small>
            </div>
            <div class="form-group col-xs-12 col-lg-4">
              <label for="studentFirstNameColumn">Enter the tag name containing Student First Names</label>
              <input type="text" name="fname" class="form-control" id="studentFirstNameColumn" aria-describedby="studentFirstNamehelp" value="nameFirst">
              <small id="studentFirstNamehelp" class="form-text text-muted">In the example, it'd be "nameFirst" <strong>(required)</strong></small>
            </div>
            <div class="form-group col-xs-12 col-lg-4">
              <label for="studentLastNamesColumn">Enter the tag name containing Student Last Names</label>
              <input type="text" name="lname" class="form-control" id="studentLastNamesColumn" aria-describedby="studentLastNameshelp" value="nameLast">
              <small id="studentLastNameshelp" class="form-text text-muted">In the example, it'd be "nameLast" <strong>(required)</strong></small>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-xs-12 col-lg-4">
              <label for="gradeLevelColumn">Enter the tag name containing Student Grade level</label>
              <input type="text" name="grade" class="form-control" id="gradeLevelColumn" aria-describedby="gradeLevelhelp" value="gradeLevel">
              <small id="gradeLevelhelp" class="form-text text-muted">In the example, it'd be "gradeLevel" (optional)</small>
            </div>
            <div class="form-group col-xs-12 col-lg-4">
              <label for="homeroomColumn">Enter the tag name containing Student's Teacher</label>
              <input type="text" name="teacher" class="form-control" id="homeroomColumn" aria-describedby="homeroomhelp" value="homeroom">
              <small id="homeroomhelp" class="form-text text-muted">In the example, it'd be "homeroom" (optional)</small>
            </div>
            <div class="form-group col-xs-12 col-lg-4">
              <label for="nicknameColumn">Enter the tag name containing Student's username</label>
              <input type="text" name="nickname" class="form-control" id="nicknameColumn" aria-describedby="nicknamehelp">
              <small id="nicknamehelp" class="form-text text-muted">Not shown in example (optional)</small>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-xs-12 col-lg-4">
              <label for="emailColumn">Enter the tag name containing Student Email</label>
              <input type="text" name="email" class="form-control" id="emailColumn" aria-describedby="emailhelp">
              <small id="emailhelp" class="form-text text-muted">Not shown in example (optional)</small>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button type="submit" onclick="uploadForm();" class="btn btn-primary">Upload XML Page <i class="fa fa-file-code-o" aria-hidden="true"></i> </button>
            </div>
          </div>
        </div>

        <div id="loading" class="col-12 hidden" style="margin-top: 2%; margin-bottom: 5%;">
          <div class="container text-center">
            <h4>Got it. We're processing your spreadsheet. This could take a minute.</h4>
            <img src="{% static 'images/loading1.gif' %}" alt="">
          </div>
        </div>

      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="student-detail" tabindex="-1" aria-hidden="true">
  <form onSubmit="ajaxSubmit(event, this, 'PUT', '{% url 'baselabwatch:api:student-list' %}' + thisStudentPk + '/')" id="student-detail-form">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Student: <span id="title-id"></span></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% render_form serializer %}
        </div>
        <div class="modal-footer">
          <span class="form-status"></span>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onClick='$("#student-detail-form").submit()'>Update Student</button>
        </div>
      </div>
    </div>
  </form>
</div>

{% endblock %} 
{% block scripts %}
<script type="text/javascript">
  let thisStudentPk = null;

  uploadForm = () => {
    $('#excel-upload').addClass('hidden');
    $('#xml-upload').addClass('hidden');
    $('#loading').removeClass('hidden');
  }

  $('#student-detail').on('show.bs.modal', (event) => {
    console.log('here');
    let button = $(event.relatedTarget) // Button that triggered the modal
    let studentID = button.data('id') // Extract info from data-* attributes
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    $.ajax({
      method: 'GET',
      url: "{% url 'baselabwatch:api:student-list' %}" + studentID + '/'
    }).done((data) => {
      const modal = $('#student-detail');
      modal.find('#title-id').text(data.first_name + ' ' + data.last_name)
      modal.find('input[name="student_id"]').val(data.student_id)
      modal.find('input[name="first_name"]').val(data.first_name)
      modal.find('input[name="last_name"]').val(data.last_name)
      modal.find('input[name="nick_name"]').val(data.nick_name)
      modal.find('input[name="email"]').val(data.email)
      modal.find('input[name="teacher"]').val(data.teacher)
      modal.find('select[name="grade"]').val(data.grade)
      thisStudentPk = data.pk
    })
  })

  formChanged = (input) => {
    const file = $(input)[0].files[0];
    $('#fileUploadText').val(file.name);
    if (file.name.endsWith('.xml')) {
      // XML file
      $('#instructions').removeClass('text-danger')
      $('#excel-upload').addClass('hidden');
      $('#xml-upload').removeClass('hidden');
    // } else if (file.name.endsWith('.xlsx') || file.name.endsWith('.xls')) {
    //   // Excel file
    //   $('#instructions').removeClass('text-danger')
    //   $('#excel-upload').removeClass('hidden');
    //   $('#xml-upload').addClass('hidden');
    } else {
      $('#fileUploadText').val(file.name + ' (Invalid File Type!)');
      $('#instructions').addClass('text-danger')
      $('#excel-upload').addClass('hidden');
      $('#xml-upload').addClass('hidden');
    }
  }

  findStudent = (event, form) => {
    event.preventDefault();
    let formData = $(form).serialize();
    if (formData.search.length > 0) {
      $.ajax({
          method: 'GET',
          data: formData,
          url: "{% url 'baselabwatch:api:student-list' %}"
        })
        .done((data) => {
          displayResults(data);
        })
        .fail((data) => {

        });
    }
  }

  displayResults = (data) => {
    $('#search-results').text('');
    for (let index in data) {
      $('#search-results').append(
        (
          "<tr>\
          <td><button class='btn btn-primary' data-toggle=\"modal\" data-target='#student-detail' data-id='" +
          data[index].pk +
          "'>\
          <i class=\"fa fa-id-card\" aria-hidden=\"true\"></i></button></td>\
          <td>" + data[
            index].student_id + "</td>\
          <td>" + data[index].first_name + "</td>\
          <td>" + data[
            index].last_name + "</td>\
        </tr>")
      )
    }
  }
</script>
{% endblock %}