{% extends 'dashboard/_base.html' %} 

{% block subtitle %}Student Administration{% endblock %}
{% block dashboard_active %}active{% endblock %}
{% block bulk_active %}active{% endblock %}

{% block content %}

<style>
  .hidden {
    display: none;
  }
</style>

{% if message %}
<section class="row placeholders">
  <div class="col-12 placeholder">
      <div class="alert alert-{{msg_type}}" role="alert">
        {{message}}
      </div>
  </div>
</section>
{% endif %}

<h1>Upload Student Spreadsheet</h1>

{% if is_librarian %}

<form class="container" method="post">
  {% csrf_token %}
  <div class="col-12">
    <h4>Upload any file: 
      <i class="fa fa-file-excel-o" aria-hidden="true"></i> 
      <i class="fa fa-file-code-o" aria-hidden="true"></i>
    </h4>
    <div class="input-group">
      <label class="input-group-btn">
        <span class="btn btn-primary" style="height: 100%;">
          Browse&hellip; <input type="file" id="fileUploadInput" style="display: none;"
          onchange="formChanged(this);"
          >
        </span>
      </label>
      <input type="text" id="fileUploadText" class="form-control" style="height:100%;" readonly>
    </div>
    <span class="help-block" id="instructions">
      Currently accepts XML and Microsoft Excel files.
    </span>
  </div>

  <!-- XML Upload -->
  <div id="xml-upload" class="container hidden" style="margin-top: 2%; margin-bottom: 5%;">
    {% if is_techsavy or is_engineer %}
    <div class="alert alert-info">
      You are seeing these options because you have the "Tech Savy" badge. Note that all
      values are case sensitive.
    </div>
    <pre>
&lt;?xml version="1.0" encoding="UTF-8" ?&gt;
&lt;DestinyCustomReport&gt;
  &lt;Row&gt;
    &lt;dateAddedUpdated&gt;&lt;![CDATA[2017-09-13]]&gt;&lt;/dateAddedUpdated&gt;
    &lt;districtID&gt;&lt;![CDATA[1234567]]&gt;&lt;/districtID&gt;
    &lt;nameLast&gt;&lt;![CDATA[Pengra]]&gt;&lt;/nameLast&gt;
    &lt;nameFirst&gt;&lt;![CDATA[Norton]]&gt;&lt;/nameFirst&gt;
    &lt;gradeLevel&gt;&lt;![CDATA[09]]&gt;&lt;/gradeLevel&gt;
    &lt;homeroom&gt;&lt;![CDATA[StenslandT]]&gt;&lt;/homeroom&gt;
  &lt;/Row&gt;
    </pre>
    <div class="row">
      <div class="col-12">
        <h2>Great! A few more details are required before continuing...</h2>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="form-group col-xs-12 col-lg-4">
        <label for="studentIDColumn">Enter the tag name containing student IDs</label>
        <input type="text" class="form-control" id="studentIDColumn" aria-describedby="studentIDhelp" value="districtID">
        <small id="studentIDhelp" class="form-text text-muted">In the example, it'd be "districtID" <strong>(required)</strong></small>
      </div>
      <div class="form-group col-xs-12 col-lg-4">
        <label for="studentFirstNameColumn">Enter the tag name containing Student First Names</label>
        <input type="text" class="form-control" id="studentFirstNameColumn" aria-describedby="studentFirstNamehelp" value="nameFirst">
        <small id="studentFirstNamehelp" class="form-text text-muted">In the example, it'd be "nameFirst" <strong>(required)</strong></small>
      </div>
      <div class="form-group col-xs-12 col-lg-4">
        <label for="studentLastNamesColumn">Enter the tag name containing Student Last Names</label>
        <input type="text" class="form-control" id="studentLastNamesColumn" aria-describedby="studentLastNameshelp" value="nameLast">
        <small id="studentLastNameshelp" class="form-text text-muted">In the example, it'd be "nameLast" <strong>(required)</strong></small>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-12 col-lg-4">
        <label for="gradeLevelColumn">Enter the tag name containing Student Grade level</label>
        <input type="text" class="form-control" id="gradeLevelColumn" aria-describedby="gradeLevelhelp" value="gradeLevel">
        <small id="gradeLevelhelp" class="form-text text-muted">In the example, it'd be "gradeLevel" (optional)</small>
      </div>
      <div class="form-group col-xs-12 col-lg-4">
        <label for="homeroomColumn">Enter the tag name containing Student's Teacher</label>
        <input type="text" class="form-control" id="homeroomColumn" aria-describedby="homeroomhelp" value="homeroom">
        <small id="homeroomhelp" class="form-text text-muted">In the example, it'd be "homeroom" (optional)</small>
      </div>
      <div class="form-group col-xs-12 col-lg-4">
        <label for="nicknameColumn">Enter the tag name containing Student's nickname</label>
        <input type="text" class="form-control" id="nicknameColumn" aria-describedby="nicknamehelp">
        <small id="nicknamehelp" class="form-text text-muted">Not shown in example (optional)</small>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-12 col-lg-4">
        <label for="emailColumn">Enter the tag name containing Student Email</label>
        <input type="email" class="form-control" id="emailColumn" aria-describedby="emailhelp">
        <small id="emailhelp" class="form-text text-muted">Not shown in example (optional)</small>
      </div>
      <div class="form-group col-xs-12 col-lg-4">
        <label for="rowNameColumn">Enter the row tag name</label>
        <input type="text" class="form-control" id="rowNameColumn" aria-describedby="rowNamehelp" value="Row">
        <small id="rowNamehelp" class="form-text text-muted">In the example, it'd be "Row" <strong>(required)</strong></small>
      </div>
      <div class="form-group col-xs-12 col-lg-4">
        <label for="dataStartColumn">Enter the parent tag name</label>
        <input type="text" class="form-control" id="dataStartColumn" aria-describedby="dataStarthelp" value="DestinyCustomReport">
        <small id="dataStarthelp" class="form-text text-muted">In the example, it'd be "DestinyCustomReport" <strong>(required)</strong></small>
      </div>
    </div>
    {% endif %}
  </div>


  <!-- Excel Upload -->
  <div id="excel-upload" class="container hidden" style="margin-top: 2%; margin-bottom: 5%;">
    <div class="row">
      <div class="col-12">
        <h2>Great! A few more details are required before continuing...</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-6">
          <img src="https://imgur.com/KSLwHmn.png" width="100%">
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="form-group col-xs-12 col-lg-4">
        <label for="studentIDColumn">Enter the Column Letter of Student IDs</label>
        <input type="text" class="form-control" id="studentIDColumn" aria-describedby="studentIDhelp">
        <small id="studentIDhelp" class="form-text text-muted">In the example, it'd be "A" <strong>(required)</strong></small>
      </div>
      <div class="form-group col-xs-12 col-lg-4">
        <label for="studentFirstNameColumn">Enter the Column Letter of Student First Names</label>
        <input type="text" class="form-control" id="studentFirstNameColumn" aria-describedby="studentFirstNamehelp">
        <small id="studentFirstNamehelp" class="form-text text-muted">In the example, it'd be "B" <strong>(required)</strong></small>
      </div>
      <div class="form-group col-xs-12 col-lg-4">
        <label for="studentLastNamesColumn">Enter the Column Letter of Student Last Names</label>
        <input type="text" class="form-control" id="studentLastNamesColumn" aria-describedby="studentLastNameshelp">
        <small id="studentLastNameshelp" class="form-text text-muted">In the example, it'd be "C" <strong>(required)</strong></small>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-12 col-lg-4">
        <label for="gradeLevelColumn">Enter the Column Letter of Student Grade level</label>
        <input type="text" class="form-control" id="gradeLevelColumn" aria-describedby="gradeLevelhelp">
        <small id="gradeLevelhelp" class="form-text text-muted">In the example, it'd be "D" (optional)</small>
      </div>
      <div class="form-group col-xs-12 col-lg-4">
        <label for="homeroomColumn">Enter the Column Letter of Student's Teacher</label>
        <input type="text" class="form-control" id="homeroomColumn" aria-describedby="homeroomhelp">
        <small id="homeroomhelp" class="form-text text-muted">In the example, it'd be "E" (optional)</small>
      </div>
      <div class="form-group col-xs-12 col-lg-4">
        <label for="nicknameColumn">Enter the Column Letter of Student's nickname</label>
        <input type="text" class="form-control" id="nicknameColumn" aria-describedby="nicknamehelp">
        <small id="nicknamehelp" class="form-text text-muted">Not shown in example (optional)</small>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-12 col-lg-4">
        <label for="emailColumn">Enter the Column Letter of Student Email</label>
        <input type="email" class="form-control" id="emailColumn" aria-describedby="emailhelp">
        <small id="emailhelp" class="form-text text-muted">Not shown in example (optional)</small>
      </div>
      <div class="form-group col-xs-12 col-lg-4">
        <label for="dataStartColumn">Enter the <strong>row</strong> number of where data begins</label>
        <input type="number" class="form-control" id="dataStartColumn" aria-describedby="dataStarthelp" value="1">
        <small id="dataStarthelp" class="form-text text-muted">Regardin the example sheet, because there's data headers on line 1, the data begins on line 2 <strong>(required)</strong></small>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Upload Spreadsheet <i class="fa fa-file-excel-o" aria-hidden="true"></i> </button>
      </div>
    </div>
  </div>
</form>

<script>
function formChanged(self) {
  var file = $(self)[0].files[0];
  $('#fileUploadText').val(file.name);
  if (file.name.endsWith('.xml')) {
    // XML file
    $('#instructions').removeClass('text-danger')
    $('#excel-upload').addClass('hidden');
    $('#xml-upload').removeClass('hidden');
  } else if (file.name.endsWith('.xlsx') || file.name.endsWith('.xls')) {
    // Excel file
    $('#instructions').removeClass('text-danger')
    $('#excel-upload').removeClass('hidden');
    $('#xml-upload').addClass('hidden');
  } else {
    $('#instructions').addClass('text-danger')
    $('#excel-upload').addClass('hidden');
    $('#xml-upload').removeClass('hidden');
  }
}
</script>
{% else %}
<section class="row placeholders">
  <div class="col-12 placeholder">
    <div class="alert alert-danger" role="alert">
      You need to be a librarian to manipulate to access this page!
    </div>
  </div>
</section>
  
{% endif %}

{% endblock %}