{% extends 'dashboard/_base.html' %} 

{% block dashboard_active %}active{% endblock %}
{% block overview_active %}active{% endblock %}

{% block content %}
<style>
  .hidden {
    display: none;
  }
</style>
<!-- <section class="row placeholders">
  <div class="col-12 placeholder">
      <div class="alert alert-info" role="alert">
        Hey {{user|capfirst}},<br>
        Keep in mind everything you're seeing is a WIP.
        Things are subject to change without notice! We appreciate your
        patience. If you spot a bug, <a href='{% url "index:bugsplat" %}'>please report it</a> to us. 
        Thanks for your continued support.
        <br>
        The badges next to the menu options will let you know what stage in development
        a current feature is on. The stages are \
        <span class="badge badge-danger">disabled</span>, 
        <span class="badge badge-warning">WIP</span>, 
        <span class="badge badge-secondary">Alpha</span>, 
        <span class="badge badge-secondary">Beta</span>,
        Release (no badge) and sometimes 
        <span class="badge badge-warning">maintenance</span>.
        {% if is_tester %}
        Additionally, because you are marked as a tester, you will occasionally see the
        <span class="badge badge-success">Test</span> badge, signifying a feature we're
        testing out.
        {% endif %}
        <hr/>
        Happy Reading!
        <br/>
        &lt;/The LabWatch Team&gt;
      </div>
  </div>
</section> -->

<ul class="nav nav-tabs" id="overview-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="loggedinstudents-tab" data-toggle="tab" href="#loggedinstudents" role="tab" aria-controls="loggedinstudents" aria-expanded="true">Currently Logged In Students</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="alllogs-tab" data-toggle="tab" href="#alllogs" role="tab" aria-controls="alllogs">All Logs</a>
  </li>
</ul>
<div class="tab-content" id="overviewContent">
  <div class="tab-pane fade show active" id="loggedinstudents" role="tabpanel" aria-labelledby="loggedinstudents-tab">
    <h2 style="margin-top: 2%">Currently Logged In Students <span class="badge badge-primary">{{logged_in_students_len}}</span></h2>
      {% if logged_in_students %}
      <div class="table-responsive">
        <table class="table table-striped" style="margin-bottom: 2%">
          <thead>
            <tr>
              <th><input id="selectAllButton" type="checkbox" onclick="selectAllStudents(this);"></th>
              <th>ID</th>
              <th>Name</th>
              <th>Teacher</th>
              <th>Grade</th>
              <th>Sign in time</th>
              <th>Student Details</th>
            </tr>
          </thead>
          <tbody>
            {% for student in logged_in_students %}
            <tr id="tr_student_{{student.0.student_id}}">
              <td><input type="checkbox" name="student_{{student.0.student_id}}" 
                class="studentSelection" id="student_{{student.0.student_id}}"
                onclick="showBulkOptions();">
              </td>
              <td>{{student.0.student_id}}</td>
              <td>{{student.0.first_name}} {{student.0.last_name}}</td>
              <td>{{student.0.teacher}}</td>
              <td>{{student.0.grade}}</td>
              <td><span data-toggle="tooltip" data-placement="right" title="{{student.2.timestamp}}">{{ student.1 }}</span></td>
              <td>
                <button class='btn btn-primary'><i class="fa fa-id-card-o" aria-hidden="true"></i> Details</button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div id="bulk-options" class="hidden">
        <div style="margin-bottom: 2%">
          <button class='btn btn-danger' onclick="logSelectedStudentsOut();">Log selected students out</button>
          <button class='btn btn-primary'>Export selected students</button>
          <button class='btn btn-primary'>Mark selected students as...</button>
        </div>
      </div>
      {% else %}
        <div class="alert alert-warning" role="alert">
          Doesn't appear to be anyone here.
          {% if not kiosk_active %} Check that your kiosks are active
          {% endif %}
        </div>
      {% endif %}
      {% if unique_students_len %}
      <h2 style="margin-top: 2%">Unique Students Today <span class="badge badge-primary">{{unique_students_len}}</span></h2>
      <div class="table-responsive">
        <table class="table table-striped" style="margin-bottom: 2%">
          <thead>
            <tr>
              <!-- <th><input id="selectAllUniqueButton" type="checkbox" onclick=""></th> -->
              <th>ID</th>
              <th>Name</th>
              <th>Total Time Today</th>
              <th>Student Details</th>
            </tr>
          </thead>
          <tbody>
            {% for student in unique_students %}
            <tr>
              <!-- <td><input type="checkbox" name="student_{{student.0.student_id}}" 
                class="uniqueStudentSelection" id="student_{{student.0.student_id}}"
                onclick="">
              </td> -->
              <td>{{student.student_id}}</td>
              <td>{{student.first_name}} {{student.last_name}}</td>
              <td>???</td>
              <td>
                <button class='btn btn-primary'><i class="fa fa-id-card-o" aria-hidden="true"></i> Details</button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}
    </div>
  <div class="tab-pane fade" id="alllogs" role="tabpanel" aria-labelledby="alllogs-tab">
      <h2 style="margin-top: 2%">All logs from today <span class="badge badge-primary">0</span></h2>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie != '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) == (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }
  
    function logStudentOut(studentID) {
      $.ajaxSetup({
        headers: {"X-CSRFToken": getCookie('csrftoken')}
      });
  
      $.ajax({
        type: "POST",
        url: '{% url "index:dashboard-student-logout" %}',
        data: {
          student_id: studentID,
          csrf_token: '{{csrf_token}}'
        }
      })
      .done(function (data) {
        // Success!
        $('#tr_student_' + studentID).addClass('hidden');
      })
    }
  
    function logSelectedStudentsOut() {
      var students = $('.studentSelection');
      students.map(function(index) {
        if (students[index].checked) {
          logStudentOut(students[index].id.replace('student_', ''));
          students[index].checked = false;
          $('#selectAllButton')[0].checked = false;
          $('#bulk-options').addClass('hidden');
        }
      })
      // Hacky solution
      location.reload();
    }
  
    function selectAllStudents(element) {
      if (element.checked) {
        $('.studentSelection').map(function(index) {
          $('.studentSelection')[index].checked = true;
        })
      } else {
        $('.studentSelection').map(function(index) {
          $('.studentSelection')[index].checked = false;
        })
      }
      showBulkOptions();
    }
  
    function showBulkOptions() {
      var studentSelected = false;
      var students = $('.studentSelection');
      students.map(function(index) {
        studentSelected = students[index].checked || studentSelected;
      });
      if (studentSelected) {
        $('#bulk-options').removeClass('hidden');
      } else {
        $('#bulk-options').addClass('hidden');
      }
    }
  </script>
  {% endblock %}