{% extends 'dashboard/_base.html' %}

{% block dashboard_active %}active{% endblock %}
{% block kiosk_active %}active{% endblock %}

{% block content %}
<h1>Existing Kiosks</h1>

<section class="row placeholders">
    {% for kiosk in kiosks %}
    <div class="col-6 col-sm-3 placeholder text-center">
        <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle"
        alt="Generic placeholder thumbnail">
        <h4>{{kiosk.school}}: {{kiosk.name}} 
            {% if not kiosk.active %}<span class="badge badge-danger">Disabled</span>{% endif %}
        </h4>
        <div style="margin-top: 5px">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#kiosk_{{kiosk.auth_code}}">
                Kiosk Options
            </button>
        </div>
    </div>

    {# A kiosk modal #}
    <div class="modal fade" id="kiosk_{{kiosk.auth_code}}" tabindex="-1" role="dialog" aria-labelledby="kioskModal_{{kiosk.auth_code}}" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="kioskModal_{{kiosk.auth_code}}">{{kiosk.school}}: {{kiosk.name}} Options</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% if is_librarian %}
                
                {% if kiosk.active %}
                    <div class="alert alert-success" role="alert">
                        Kiosk is currently active<hr/>
                        Important Reminder: Never share your kiosk code!
                    </div>
                {% else %}
                    <div class="alert alert-danger" role="alert">
                        Kiosk is currently disabled<hr/>
                        Important Reminder: Never share your kiosk code!
                    </div>
                {% endif %}

                <form method="POST" id="kioskForm_{{kiosk.auth_code}}">
                    <input type="hidden" value="{{kiosk.pk}}" name="pk">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="schoolName" class="col-sm-2 col-form-label">School</label>
                        <div class="col-sm-10">
                        <input type="text" class="form-control" readonly id="schoolName" value="{{kiosk.school}}" name="school">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="kioskName" class="col-sm-2 col-form-label">Kiosk Name</label>
                        <div class="col-sm-10">
                        <input type="text" class="form-control" id="kioskName" value="{{kiosk.name}}" onclick="this.select()" name="name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="kioskName" class="col-sm-2 col-form-label">Kiosk Code</label>
                        <div class="col-sm-10">
                        <input type="text" class="form-control" readonly id="kioskName" value="{{kiosk.auth_code}}" onclick="this.select()" name="auth_code">
                        </div>
                    </div>
                    <div class="form-check row">
                        <label for="kioskName" class="col-sm-2 col-form-label">Kiosk Status</label>
                        <div class="btn-group col-sm-10" data-toggle="buttons">
                            <label class="btn btn-secondary {% if kiosk.active %}active{% endif %}">
                                <input type="radio" name="active" value="true" autocomplete="off" {% if kiosk.active %}checked{% endif %}> Active
                            </label>
                            <label class="btn btn-secondary {% if not kiosk.active %}active{% endif %}">
                                <input type="radio" name="active" value="false" autocomplete="off" {% if not kiosk.active %}checked{% endif %}> Disabled
                            </label>
                        </div>
                    </div>
                </form>

                <form method="post" id="delete_{{kiosk.auth_code}}">
                    {% csrf_token %}
                    <input type="hidden" name="pk" value="{{kiosk.pk}}">
                    <input type="hidden" name="school" value="{{kiosk.school}}">
                    <input type="hidden" name="name" value="{{kiosk.name}}">
                    <input type="hidden" name="active" value="{{kiosk.active}}">
                    <input type="hidden" name="auth_code" value="{{kiosk.auth_code}}">
                    <input type="hidden" name="proxy_method" value="delete">
                </form>


                {% else %}
                You are not the school Librarian, please contact your school librarian or
                your school representative at the following email for help or access:
                <br/>
                <input type="text" class="form-control" value="{{primary_contact.email}}" onclick="this.select()"></input>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                {% if is_librarian %}
                    {% if kiosk.active %}
                        <a style="color: white;" class="btn btn-info" href="{% url 'index:kiosk-page' kiosk.auth_code %}">Preview Kiosk</a>
                    {% endif %}
                    <div class="dropdown">
                        <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dangerous Options
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item text-danger" onclick='$("#delete_{{kiosk.auth_code}}").submit();'>Delete</a>
                            <!-- <a class="dropdown-item text-danger" href="#">Reset Kiosk Code</a> -->
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="$('#kioskForm_{{kiosk.auth_code}}').submit();">Save changes</button>
                {% endif %}
            </div>
            </div>
        </div>
    </div>

    {% endfor %}
    <div class="col-6 col-sm-3 placeholder text-center">
        <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle"
        alt="Generic placeholder thumbnail">
        <h4>Create a New Kiosk for {{school}}</h4>
        <div style="margin-top: 5px">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#create_kiosk">
                Kiosk Options
            </button>
        </div>
    </div>

    {# A kiosk creation modal #}
    <div class="modal fade" id="create_kiosk" tabindex="-1" role="dialog" aria-labelledby="kioskModal_create" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="kioskModal_create">Create a Kiosk</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% if is_librarian %}

                <div class="alert alert-primary" role="alert">
                    Make sure you have the Kiosk Code written down! Never share your Kiosk code!
                </div>

                <form method="POST" id="kioskForm_create">
                        {% csrf_token %}
                        <input type="hidden" name="proxy_method" value="create">
                        <input type="hidden" name="pk" value="-1">
                        <div class="form-group row">
                            <label for="schoolName" class="col-sm-2 col-form-label">School</label>
                            <div class="col-sm-10">
                            <input type="text" class="form-control" readonly id="schoolName" value="{{school}}" name="school">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="kioskName" class="col-sm-2 col-form-label">Kiosk Name</label>
                            <div class="col-sm-10">
                            <input type="text" class="form-control" id="kioskName" placeholder="Kiosk Name" onclick="this.select()" name="name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="kioskName" class="col-sm-2 col-form-label">Kiosk Code</label>
                            <div class="col-sm-10">
                            <input type="text" class="form-control" readonly id="kioskName" value="{{potential_code}}" onclick="this.select()" name="auth_code">
                            </div>
                        </div>
                        <div class="form-check row">
                            <label for="kioskName" class="col-sm-2 col-form-label">Kiosk Status</label>
                            <div class="btn-group col-sm-10" data-toggle="buttons">
                                <label class="btn btn-secondary">
                                    <input type="radio" name="active" value="true" autocomplete="off"> Active
                                </label>
                                <label class="btn btn-secondary active">
                                    <input type="radio" name="active" value="false" autocomplete="off" checked> Disabled
                                </label>
                            </div>
                        </div>
                    </form>

                {% else %}
                
                You are not the school Librarian, please contact your school librarian or
                your school representative at the following email for help or access:
                <br/>
                <input type="text" class="form-control" value="{{primary_contact.email}}" onclick="this.select()"></input>
                
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                {% if is_librarian %}
                    <button type="button" class="btn btn-primary" onclick="$('#kioskForm_create').submit()">Save changes</button>
                {% endif %}
            </div>
            </div>
        </div>
    </div>

</section>


{% endblock %}
