{% extends 'dashboard/_base.html' %}

{% block dashboard_active %}active{% endblock %}
{% block kiosk_active %}active{% endblock %}

{% block content %}
<h1>Existing Kiosks</h1>

<section class="row placeholders">
    {% for kiosk in kiosks %}
    <div class="col-6 col-sm-3 placeholder text-center">
        <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle"
        alt="Generic placeholder thumbnail">
        <h4>{{kiosk.school}}: {{kiosk.name}}</h4>
        <div class="text-muted">code: <span onclick="this.select()">{{kiosk.auth_code}}</span></div>
        <div style="margin-top: 5px">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#kiosk_{{kiosk.auth_code}}">
                Kiosk Options
            </button>
        </div>
    </div>

    {# A kiosk modal #}
    <div class="modal fade" id="kiosk_{{kiosk.auth_code}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{kiosk.school}}: {{kiosk.name}} Options</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% if is_librarian %}
                
                Some settings for the modals
                
                {% else %}
                You are not the school Librarian, please contact your school librarian or
                your school representative at the following email for help or access:
                <br/>
                <input type="text" class="form-control" value="{{primary_contact.email}}" onclick="this.select()"></input>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                {% if is_librarian %}
                    <button type="button" class="btn btn-primary">Save changes</button>
                {% endif %}
            </div>
            </div>
        </div>
    </div>

    {% endfor %}
    <div class="col-6 col-sm-3 placeholder text-center">
        <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle"
        alt="Generic placeholder thumbnail">
        <h4>Create a New Kiosk for {{school}}</h4>
        <div style="margin-top: 5px">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#create_kiosk">
                Kiosk Options
            </button>
        </div>
    </div>

    {# A kiosk creation modal #}
    <div class="modal fade" id="create_kiosk" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create a Kiosk</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% if is_librarian %}

                Some settings for the modals
                
                {% else %}
                You are not the school Librarian, please contact your school librarian or
                your school representative at the following email for help or access:
                <br/>
                <input type="text" class="form-control" value="{{primary_contact.email}}" onclick="this.select()"></input>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                {% if is_librarian %}
                    <button type="button" class="btn btn-primary">Save changes</button>
                {% endif %}
            </div>
            </div>
        </div>
    </div>

</section>


{% endblock %}
