{% extends 'dashboard/_base.html' %} 

{% block subtitle %}Poll Management{% endblock %}
{% block dashboard_active %}active{% endblock %}
{% block poll_active %}active{% endblock %}

{% block content %}

<h1>{{school}} Polls by Kiosk</h1>
{% for kiosk in kiosks %}
<h3 style="margin-top: 2%;">{{kiosk.0}}{% if not kiosk.0.active %} <span class="badge badge-danger">Disabled</span>{% endif %}{% if kiosk.1 %} - "{{kiosk.1}}"{% endif %}</h3>
{% if kiosk.1 %}
<script>
    function checkSize(textareabox, e, dangertext_id) {
        var lines = $(textareabox).val().split(/\r|\r\n|\n/).length;
        console.log(lines, e.keyCode);
        // set the suggested max as 6
        if (e.keyCode == 13 && lines >= 6) {
            $('#' + dangertext_id).text('The maximum suggested number of poll options is 7. You can still submit this though.');
        } else if (e.keyCode == 8 && lines <= 6) {
            $('#' + dangertext_id).text('');
        }
    }

</script>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Answer</th>
            <th>Votes</th>
        </tr>
        </thead>
        <tbody>
        {% for answer in kiosk.2 %}
        <tr>
            <td>{{answer}}</td>
            <td>{{answer.votes}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% if is_librarian %}
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#createPollModal_{{kiosk.0.pk}}">
    New Poll
</button>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editPollModal_{{kiosk.0.pk}}">
    Edit Poll
</button>

<button class="btn btn-danger dropdown-toggle" type="button" id="deleteMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dangerous Options
</button>
<div class="dropdown-menu" aria-labelledby="deleteMenuButton">
    <a class="dropdown-item text-danger">Delete Poll</a>
</div>
{% endif %}

{% else %}
<div class="alert alert-warning" role="alert">
    This kiosk has no active poll. <br/>
</div>
{% if is_librarian %}
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#createPollModal_{{kiosk.0.pk}}">
    New Poll
</button>
{% endif %}
{% endif %}

{% if is_librarian %}
<!-- Edit Poll Modal -->
<div class="modal fade" id="editPollModal_{{kiosk.0.pk}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{kiosk.0}}: Edit "{{kiosk.1.question_text}}" Poll</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="method_proxy" value="PUT">
                    <div class="form-group">
                        <label for="poll-question" class="form-control-label">Poll Question</label>
                        <input type="text" autofocus class="form-control" id="poll-question"
                            value="{{kiosk.1.question_text}}">
                    </div>
                    <div class="form-group">
                        <label for="poll-answers" class="form-control-label">Poll Answers (Seperated by new lines)</label>
                        <textarea rows="6" class="form-control" id="poll-answers" onkeydown="checkSize(this, event, 'warning-create-{{kiosk.0.pk}}');">{% for answer in kiosk.2 %}{{answer}}&#10;{% endfor %}</textarea>
                        <span class="text-danger" id="warning-create-{{kiosk.0.pk}}"></span>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>

<!-- Create Poll Modal -->
<div class="modal fade" id="createPollModal_{{kiosk.0.pk}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{kiosk.0}}: New Poll</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="method_proxy" value="CREATE">
                    <div class="form-group">
                        <label for="poll-question" class="form-control-label">Poll Question</label>
                        <input type="text" autofocus class="form-control" id="poll-question"
                            placeholder="e.g. Which social media platform do you use the most?">
                    </div>
                    <div class="form-group">
                        <label for="poll-answers" class="form-control-label">Poll Answers (Seperated by new lines)</label>
                        <textarea rows="6" class="form-control" id="poll-answers" 
                            placeholder="Snapchat&#10;Instagram&#10;Facebook&#10;Twitter&#10;..."
                            onkeydown="checkSize(this, event, 'warning-{{kiosk.0.pk}}');"></textarea>
                        <span class="text-danger" id="warning-{{kiosk.0.pk}}"></span>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success">Confirm</button>
            </div>
        </div>
    </div>
</div>

{% endif %}

{% endfor %}
{% endblock %}