{% extends 'logger/_logger_settings.html' %}

{% block kiosk_active %} active{% endblock %}

{% block content %}
<ul class="nav nav-tabs" id="kiosk-tabs">
</ul>

<div class="tab-content">
</div>

{% endblock %}

{% block scripts %}
<script>

  generateTabs = (activeTab) => {
    $.ajax({
      method: 'GET',
      url: "{% url 'logger:api:kiosk-list' %}"
    }).done((data) => {
      let first = true
      $('#kiosk-tabs').text('')
      $('.tab-content').text('')
      data.forEach((kiosk, index) => {
        if (kiosk.poll) {
          $.ajax({
            method: 'GET',
            url: "{% url 'logger:api:pollquestion-list' %}" + kiosk.poll + '/'
          }).done((data) => {
            console.log(data)
          })
        }
        $('#kiosk-tabs').append(`
          <li class="nav-item">
            <a class="nav-link` + (index === activeTab ? " active" : "") + `" data-toggle="tab" href="#kiosk` + kiosk.pk + `" id="kiosk` + kiosk.pk + `-tab" onclick="updateUrl('kiosk` + kiosk.pk + `')">
              ` + kiosk.name + `
            </a>
          </li>
        `)
        $('.tab-content').append(`
          <div class="tab-pane fade` + (index === activeTab ? " show active" : "") + `" id="kiosk` + kiosk.pk + `">
            <h2>Kiosk Settings</h2>
            

          </div>
        `)
        const kioskTab = $('#kiosk' + kiosk.pk)
      })
      
      $('#kiosk-tabs').append(
      `<li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#newkiosk" id='newkiosk-tab' onClick="updateUrl('newkiosk');">
          <span class="text-success"><i class="fa fa-plus" aria-hidden="true"></i></span>
        </a>
      </li>`
      )
      $('.tab-content').append(`
        <div class="tab-pane fade" id="newkiosk">
          <h2>Create New Kiosk</h2>
          <form>
          </form>
        </div>
      `)
    })
  }

  $(document).ready(() => {
    generateTabs(0)
  });
</script>
{% endblock %}