{% extends 'logger/_logger_settings.html' %}
{% load static %}
{% load rest_framework %}

{% block overview_active %} active{% endblock %}

{% block content %}
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#current" id='current-tab' onClick="updateUrl('current');">Current Students</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#history" id='history-tab' onClick="updateUrl('history');">History</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade show active" id="current">
    <h2>Current Students</h2>
    <div id="loggedinstudents">
      <div class="table-responsive">
        <table class="table table-striped" style="margin-bottom: 2%">
          <thead>
            <tr>
              <th><input id="selectAllButton" type="checkbox" class="student-select-all" onclick="selectAllStudents();"></th>
              <th>ID</th>
              <th>Name</th>
              <th>Teacher</th>
              <th>Grade</th>
              <th>Sign in time</th>
              <th><i class="fa fa-clock-o" aria-hidden="true"></i></th>
            </tr>
          </thead>
          <tbody id="current-students">
            
          </tbody>
        </table>
      </div>

      <div id="bulk-options" class="hidden">
        <div style="margin-bottom: 2%">
          <button class='btn btn-danger' onclick="logSelectedStudentsOut();">Log selected students out</button>
          <!-- <button class='btn btn-primary'>Export selected students</button> -->
          <!-- <button class='btn btn-primary'>Mark selected students as...</button> -->
        </div>
      </div>

    </div>
  </div>
  <div class="tab-pane fade" id="history">
    <h2>Previous Students</h2>
  </div>
  
</div>

<div class="modal fade" id="student-detail" tabindex="-1" aria-hidden="true">
  <form onSubmit="ajaxSubmit(event, this, 'PUT', '{% url 'logger:api:session-list' %}' + thisSessionPk + '/'); getCurrentStudents();" id="student-detail-form">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Login Details of <span id="title-id"></span></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% render_form serializer %}
        </div>
        <div class="modal-footer">
          <span class="form-status"></span>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button id="sign-out-btn" type="button" class="btn btn-danger" data-dismiss="modal" onclick="signStudentOut(event)">Sign Student Out</button>
          <button type="button" class="btn btn-primary" onClick='$("#student-detail-form").submit()'>Update Session</button>
        </div>
      </div>
    </div>
  </form>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'logger/moment.min.js' %}"></script>
<script>
  let thisSessionPk;

  logSelectedStudentsOut = () => {
    $('.current-student-session').each((index, value) => {
      if ($(value).find(".student-select")[0].checked) {
        const pk = $(value).data('pk');
        const signinMode = $(value).data('signinmode')
        const signinTimestamp = $(value).data('signintimestamp')
        console.log(pk)
        $.ajax({
          method: 'PUT',
          url: '{% url "logger:api:session-list" %}' + pk + '/',
          data: {
            sign_out_mode: 'ADMI',
            sign_out_timestamp: moment().format('YYYY-MM-DDThh:mm:ssZ'),
            sign_in_mode: signinMode,
            sign_in_timestamp: signinTimestamp,
          }
        }).done((data) => {
          clearCheckboxes()
          getCurrentStudents()
        })
      }
    })
    
  }

  toggleBulkOptions = () => {
    let showBulk = false;
    let boxes = $('.student-select')
    for (let index in boxes) {
      if (boxes[index].checked) {
        showBulk = true
        break
      }
    }
    const bulkOptions = $('#bulk-options');
    if (showBulk) {
      bulkOptions.removeClass('hidden')
    } else {
      bulkOptions.addClass('hidden')
    }
  }

  partialSelectTop = () => {
    let boxes = $('.student-select')
    let checked = 0;
    for (let index in boxes) {
      if (boxes[index].checked) {
        checked++
      }
    }
    if (checked === boxes.length) {
      $('.student-select-all')[0].checked = true
      $('.student-select-all')[0].indeterminate = false
    } else if (checked > 0) {
      $('.student-select-all')[0].indeterminate = true
      $('.student-select-all')[0].checked = false
    } else {
      $('.student-select-all')[0].checked = false
      $('.student-select-all')[0].indeterminate = false
    }
    toggleBulkOptions()
  }

  selectAllStudents = () => {
    const checkedVal = $('#selectAllButton')[0].checked
    let boxes = $('.student-select')
    for (let index in boxes) {
      boxes[index].checked = checkedVal
    }
    toggleBulkOptions()
  }

  signStudentOut = (event) => {
    event.preventDefault();
    const modal = $('#student-detail');
    modal.find('select[name="sign_out_mode"]').val('ADMI')
    modal.find('input[name="sign_out_timestamp"]').val(moment().format('YYYY-MM-DDThh:mm:ss'))
    ajaxSubmit(event, modal.find('form'), 'PUT', '{% url "logger:api:session-list" %}' + thisSessionPk + '/');
    setTimeout(
      () => getCurrentStudents(),
      500
    )
  }

  $('#student-detail').on('show.bs.modal', (event) => {
    console.log('here');
    let button = $(event.relatedTarget) // Button that triggered the modal
    let sessionPK = button.data('id') // Extract info from data-* attributes
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    $.ajax({
      method: 'GET',
      url: "{% url 'logger:api:session-list' %}" + sessionPK + '/'
    }).done((data) => {
      console.log(data);
      const modal = $('#student-detail');
      modal.find('#title-id').text(data.first_name + ' ' + data.last_name)
      modal.find('select[name="sign_in_mode"]').val(data.sign_in_mode)
      modal.find('input[name="sign_in_timestamp"]').val(moment(data.sign_in_timestamp).format('YYYY-MM-DDThh:mm:ss'))
      if (data.sign_out_mode === null && data.sign_out_mode === '') {
        modal.find('#sign-out-btn').removeClass('hidden')
      } else {
        modal.find('#sign-out-btn').addClass('hidden')
        modal.find('select[name="sign_out_mode"]').val(data.sign_out_mode)
        modal.find('input[name="sign_out_timestamp"]').val(moment(data.sign_out_timestamp).format('YYYY-MM-DDThh:mm:ss'))
      }
      thisSessionPk = sessionPK
    })
  })

  clearCheckboxes = () => {
    $('.student-select').each((index, value) => {
      value.checked = false
    })
    $('.student-select-all')[0].checked = false
    $('.student-select-all')[0].indeterminate = false
    $('#bulk-options').addClass('hidden')
  }

  getCurrentStudents = () => {
    let checked = false;
    for (let index in $('.student-select')) {
      if ($('.student-select')[index].checked) {
        checked = true
        break
      }
    }

    if (!checked) {
      $.ajax({
        method: 'GET',
        url: '{% url "logger:api:session-list" %}',
        data: {signed_in: true}
      }).done((data) => {
        if (data.length === 0) {
          $('.student-select-all')[0].disabled = true
        } else {
          $('.student-select-all')[0].disabled = false
        }
        const results = $('#current-students');
        results.text('')
        for (let index in data) {
          results.append(
            `<tr class="current-student-session" data-pk="` + data[index].pk + `" data-signinmode='` + data[index].sign_in_mode + `'
              data-signintimestamp='` +  data[index].sign_in_timestamp + `'>
              <td><input type="checkbox" class="student-select" onchange="partialSelectTop()"></td>
              <td>` + data[index].student_id + `</td>
              <td>` + data[index].first_name + ' ' + data[index].last_name + `</td>
              <td>` + data[index].teacher + `</td>
              <td>` + data[index].grade + `</td>
              <td data-toggle="tooltip" data-placement="right" title="` + data[index].sign_in_timestamp + `
              ">` + moment(data[index].sign_in_timestamp).fromNow() + `</td>
              <td><button class='btn btn-primary' data-toggle="modal" data-target='#student-detail' 
                data-id='` + data[index].pk + `'><i class="fa fa-clock-o" aria-hidden="true"></i></button>
              </td>
            </tr>`
          )
        }
      })
    }
    
  }

  $(document).ready(() => {
    getCurrentStudents();
    setInterval(
      () => {getCurrentStudents();},
      30000
    )
    
  });
</script>
{% endblock %}