{% extends 'logger/_logger_settings.html' %}
{% load static %}
{% load rest_framework %}

{% block overview_active %} active{% endblock %}

{% block content %}
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#current" id='current-tab' onClick="updateUrl('current');">Current Students</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#history" id='history-tab' onClick="updateUrl('history');">History</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade show active" id="current">
    <h2>Current Students</h2>
    <div class="tab-pane fade show active" id="loggedinstudents" role="tabpanel" aria-labelledby="loggedinstudents-tab">
      <div class="table-responsive">
        <table class="table table-striped" style="margin-bottom: 2%">
          <thead>
            <tr>
              <th><input id="selectAllButton" type="checkbox" onclick="selectAllStudents(this);"></th>
              <th>ID</th>
              <th>Name</th>
              <th>Teacher</th>
              <th>Grade</th>
              <th>Sign in time</th>
              <th><i class="fa fa-id-card" aria-hidden="true"></i></th>
            </tr>
          </thead>
          <tbody id="current-students">
            
          </tbody>
        </table>
      </div>
      <div id="bulk-options" class="hidden">
        <div style="margin-bottom: 2%">
          <button class='btn btn-danger' onclick="logSelectedStudentsOut();">Log selected students out</button>
          <!-- <button class='btn btn-primary'>Export selected students</button>
          <button class='btn btn-primary'>Mark selected students as...</button> -->
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="history">
    <h2>Previous Students</h2>
  </div>
  
</div>

<div class="modal fade" id="student-detail" tabindex="-1" aria-hidden="true">
  <form onSubmit="ajaxSubmit(event, this, 'PUT', '{% url 'logger:api:session-list' %}' + thisSessionPk + '/'); getCurrentStudents();" id="student-detail-form">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Login Details of <span id="title-id"></span></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% render_form serializer %}
        </div>
        <div class="modal-footer">
          <span class="form-status"></span>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onClick='$("#student-detail-form").submit()'>Update Session</button>
        </div>
      </div>
    </div>
  </form>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'logger/moment.min.js' %}"></script>
<script>

  let thisSessionPk;

  $('#student-detail').on('show.bs.modal', (event) => {
    console.log('here');
    let button = $(event.relatedTarget) // Button that triggered the modal
    let sessionPK = button.data('id') // Extract info from data-* attributes
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    $.ajax({
      method: 'GET',
      url: "{% url 'logger:api:session-list' %}" + sessionPK + '/'
    }).done((data) => {
      console.log(data);
      const modal = $('#student-detail');
      modal.find('#title-id').text(data.first_name + ' ' + data.last_name)
      modal.find('select[name="sign_in_mode"]').val(data.sign_in_mode)
      modal.find('input[name="sign_in_timestamp"]').val(moment(data.sign_in_timestamp).format('YYYY-MM-DDThh:mm:ss'))
      modal.find('select[name="sign_out_mode"]').val(data.sign_out_mode)
      modal.find('input[name="sign_out_timestamp"]').val(moment(data.sign_out_timestamp).format('YYYY-MM-DDThh:mm:ss'))
      thisSessionPk = sessionPK
    })
  })

  getCurrentStudents = () => {
    $.ajax({
      method: 'GET',
      url: '{% url "logger:api:session-list" %}',
      data: {signed_in: true}
    }).done((data) => {
      console.log(data)
      const results = $('#current-students');
      results.text('')
      for (let index in data) {
        results.append(
          `<tr>
            <td><input type="checkbox"></td>
            <td>` + data[index].student_id + `</td>
            <td>` + data[index].first_name + ' ' + data[index].last_name + `</td>
            <td>` + data[index].teacher + `</td>
            <td>` + data[index].grade + `</td>
            <td data-toggle="tooltip" data-placement="right" title="` + data[index].sign_in_timestamp + `
            ">` + moment(data[index].sign_in_timestamp).fromNow() + `</td>
            <td><button class='btn btn-primary' data-toggle="modal" data-target='#student-detail' 
              data-id='` + data[index].pk + `'><i class="fa fa-id-card" aria-hidden="true"></i></button>
            </td>
          </tr>
          `
        )
      }
      
    })
  }

  $(document).ready(() => {
    getCurrentStudents();
    setInterval(
      () => {getCurrentStudents();},
      30000
    )
    
  });
</script>
{% endblock %}